.commonTextInput {
  @apply border-b-2 p-1.5;
}
.commonTextInput:focus {
  @apply outline-none border-b-2 shadow-md;
}
.customButton {
  @apply px-2 py-0 bg-primary-color text-white rounded-md;
}
.customButtonDanger {
  @apply p-2 bg-danger-color text-white rounded-md;
}
.customButtonEdit {
  @apply p-2 bg-orange-400 text-white rounded-md;
}
.buttonPanel {
  @apply flex flex-row space-x-2;
}
