.myClass {
  @apply h-screen pt-5 pl-2 flex flex-col;
}
.buttonArea {
  @apply p-1 flex flex-row justify-end pr-5;
}
.searchArea {
  @apply px-5 pt-3;
}
.backgroundImage {
  @apply w-1/2 flex;
}
.backgroundImageContainer {
  @apply flex mt-20 justify-center;
}
