.mainContainer {
  @apply w-screen h-screen justify-center items-center flex flex-col;
}
.logo {
  @apply w-72;
}
.iconInLoginButton {
  @apply w-5 h-5;
}
.microsoftIconContainer {
  @apply flex flex-col justify-center items-center border-r-2 pr-2 pl-1;
}
.loginText {
  @apply pr-5 pl-5 text-white;
}
.loginButton {
  @apply flex flex-row bg-login-orange p-2 rounded-md mt-5;
}
.loginButtonDisabled {
  @apply flex flex-row bg-slate-400 p-2 rounded-md mt-5;
}
.loginDescription {
  @apply flex text-center text-sm text-gray-500 mt-10;
}
