.mainContainer {
  @apply w-screen h-screen flex flex-row space-x-5;
}
.navContainer {
  @apply fixed h-screen w-1/6 min-w-fit  flex flex-col p-5 rounded-r-3xl border-2 shadow-2xl;
}
.pagesContainer {
  @apply !ml-96 w-5/6;
}
.brandContainer {
  @apply flex flex-row space-x-2;
}
.brandContainer:focus {
}
.brandDetails {
  @apply flex flex-col;
}
.brandLogo {
  @apply w-20 h-auto object-contain;
}
.brandText {
  @apply text-base font-bold;
}
.versionText {
  @apply text-sm text-gray-500;
}
.headerContainer {
  @apply h-16;
}
.menuContainer {
  @apply h-5/6 border-y-2 pt-5 space-y-5;
}
.footerContainer {
  @apply flex h-16 flex-col my-3;
}
.userInformation {
  @apply flex flex-row space-x-2;
}
.userDisplayPicture {
  @apply w-14 h-auto object-contain rounded-full;
}
.userInfo {
  @apply flex flex-col justify-center;
}
.logoutButtonArea {
  @apply mt-2 flex flex-row justify-center mb-2;
}
.logoutIcon {
  @apply w-5 object-contain;
}
.logoutButton {
  @apply flex flex-row space-x-2;
}
