.navItem {
  @apply p-2 w-72 flex flex-row space-x-2 text-white bg-button-primary rounded-lg pl-10;
}
.navItem:hover {
  @apply cursor-pointer bg-button-primary-hover;
}
.navIcon {
  @apply w-6;
}
.navItemInactive {
  @apply p-2 w-72 flex flex-row space-x-2 text-button-primary bg-white rounded-lg pl-10;
}
.navItemInactive:hover {
  @apply bg-slate-300 cursor-default;
}
