
body::after {
    content: ''; /* Required for the pseudo-element to appear */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/dashboard_bg.png);
    background-repeat: no-repeat;
    background-size: 600px; /* Adjust as needed */
    background-position: 600px 250px;
    opacity: 0.3; /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the overlay is behind other content */
}
.pagetopcontainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    -webkit-justify-content:  space-between;
    justify-content:  space-between;
}
.plusicon {
    width: 30px;
    margin-right: 10px;
    position: relative;
}
.searcharea{
    display: flex;
    margin-top: 25px;
    width: 90%;
}

.searchbox {
    box-sizing: border-box;
    border: hidden;
    padding: 17px;
    display: flex;
    align-items: center;
    background-color: #ececec;
    border-radius: 10px;
    flex-shrink: 0;
}

.searchicon {
    justify-content: center;
    width: 40px;
    position: absolute;
    margin-left: calc(100% - 530px);
    margin-top: 10px;
}
.searchicon:hover {
    cursor: pointer;
}

::-webkit-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif; /* Use the custom font */
}

:-moz-placeholder {
    font-family: 'Source Sans Pro', sans-serif; /* Use the custom font */
}

::-moz-placeholder {
    font-family: 'Source Sans Pro', sans-serif; /* Use the custom font */
}

:-ms-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif; /* Use the custom font */
}


