body {
    background-color: #fbfbfb;
}
*:focus {
    box-shadow: inset 0 -1px 0 #ddd !important;
}

.contentcontainer {
    height: 100vh;
    width: 100%;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

h2 {
    margin-top: 30px;
    color: #08577e;
    font-family: Inter, 'Source Sans Pro';
    font-weight: 600;
}

.commonbtn {
    box-sizing: border-box;
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #08577e;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 450;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.maincontent {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100vh;
    box-sizing: border-box;
}

.accordion-title {
    font-weight: 600;
    font-family: Inter, 'Source Sans Pro';
}

.customItem {
    border-radius: 20px 20px 0 0 !important;
    border: solid thin #d9d9d9;
    box-sizing: border-box;
}

.accordionitemcustom {
    margin-top: 0 !important;
    border-left: solid thin #d9d9d9;
    border-right: solid thin #d9d9d9;
}

.topaccordionitemcustom {
    margin-top: 15px !important;
}

.customItemBtnTop {
    border-radius: 20px 20px 0 0 !important;
}

.customItemBtnBottom {
    border-radius: 0 0 20px 20px !important;
}

button.customItemBtnBottom:not(.collapsed) {
    border-radius: 0 !important;
}

button.customItemBtnBottom:not(.collapsed) ~ accordion-item.customItemBtnBottom {
    border-radius: 0 !important;
}

.customaccordion {
    border-bottom: solid thin #d9d9d9;
    box-sizing: border-box;
}
.customselect, .customtext, .customdate {
    border: none;
    border-bottom: solid thin #d9d9d9;
    border-radius: 0;
}
.moveelementstoright{
    justify-content:flex-end;
}
.plusicon {
    width: 30px;
    margin-right: 10px;
    position: relative;
}
.smalltext{
    font-size: 12px;
}
.bottomSaveButton{
    justify-content: flex-end;
    margin-right: 10px;
}
.saveicon{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15px;
    margin-right: 10px;
}
.moveright{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0px;
}
