body{
    background-color: #fbfbfb;
}
.contentcontainer {
    height: 100vh;
    width: 100%;
}
.maincontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
h2 {
    margin-top: 30px;
    color: #08577e;
    font-family: Inter, 'Source Sans Pro';
    font-weight: 600;
}
.commonbtn {
    margin-top: 30px;
    box-sizing: border-box;
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
    background-color: #08577e;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 450;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}