.profileManagementContainer {
  @apply mt-5 pr-5;
}
.pageHeader {
  @apply font-semibold text-primary-color text-3xl mb-5;
}
.accordionHeader {
  @apply font-semibold;
}
.accordionContent {
  @apply flex flex-row space-x-10;
}
.accordionLeft {
  @apply flex flex-col w-1/2 p-2 space-y-3;
}
.accordionRight {
  @apply flex flex-col w-1/2 p-2 space-y-3;
}
.radioGroup {
  @apply flex flex-row;
}
.buttonContainer {
  @apply flex flex-row justify-end mr-1 space-x-2;
}
.visaContainer {
  @apply flex flex-col;
}
.VISAListArea {
  @apply mt-5;
}
.secondaryPassportArea {
  @apply mt-10;
}
.secondaryPassportArea b {
  @apply ml-2;
}
.topHeading {
  @apply flex flex-row justify-between;
}
.footerButtonArea {
  @apply flex flex-row justify-end;
}
.buttonIcon {
  @apply mb-1;
}
