@{
}
<div class="auto-group-nmbu-Brn">
    <div class="auto-group-mvga-v3g">
        <p class="dashboard-Fbk">Dashboard</p>
        <div class="primary-button-nbg">
            <div class="group-13-tuc">
                <div class="rectangle-9-cKp">
                </div>
                <div class="rectangle-10-8JA">
                </div>
            </div>
            <p class="create-profile-f3C">Create Profile</p>
        </div>
    </div>
    <div class="frame-17-ZPU">
        <p class="search-GYn">Search</p>
        <img class="search-zDt" src="./assets/search.png"/>
    </div>
    <img class="traveling-rafiki-7JW" src="./assets/traveling-rafiki.png"/>
</div>