@{
}
<link href="/css/dashboard.css" rel="stylesheet" />
<div class="pagetopcontainer">
    <h2>
        Dashboard
    </h2>
     <button class="commonbtn">
         <img class="plusicon" src="~/img/icons/plus_icon.png" /> Create Profile
     </button>
</div>
<div class="searcharea">
    <input class="form-control searchbox" list="datalistOptions" id="exampleDataList" placeholder="Search">
    <datalist id="datalistOptions">
      <option value="San Francisco" />
      <option value="New York" />
      <option value="Seattle" />
      <option value="Los Angeles" />
      <option value="Chicago" />
    </datalist>
    <img class="searchicon" src="~/img/icons/search_icon.png" />
</div>
