@model SkyVault.WebApp.Pages.IndexModel
@{
}
<link href="/css/dashboard.css" rel="stylesheet"/>
<div class="pagetopcontainer">
    <h2>
        Dashboard
    </h2>

    <a id="createProfileBtn" class="commonbtn" href="@Url.Page("CustomerProfile")" target="_self">
        <img class="plusicon" src="~/img/icons/plus_icon.png" alt=""/>
        Create Profile
    </a>

</div>
<form>
    <div class="searcharea">
        <input class="form-control searchbox" id="searcher" name="searcher"
               hx-post="@Url.Page("Index", "Search")" hx-target="#search-results"
               hx-trigger="input changed delay:500ms, search"
               hx-headers='{"XSRF-TOKEN": "@Model.AntiForgeryToken"}'
               placeholder="Begin Typing To Search Profiles...">
    </div>
    <table class="table search-results-table">
        <thead>
        <tr>
            <th>Passport Number</th>
            <th>Last Name</th>
            <th>Other Names</th>
            <th>Salutation</th>
        </tr>
        </thead>
        <tbody id="search-results">
            
        </tbody>
    </table>
</form>