<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Passport No.</th>
        <th>Issue Date</th>
        <th>Expiry Date</th>
    </tr>
    </thead>
    <tbody id="search-results">
    <tr>
        <td>
            <a href="#" data-bs-toggle="modal" data-bs-target="#passportModal">Mr. John</a>
        </td>
        <td>
            Smith
        </td>
        <td>
            81311442 (Primary)
        </td>
        <td>
            2021-04-01
        </td>
        <td>
            2026-04-01
        </td>
    </tr>
    </tbody>
</table>