<table class="table">
    <thead>
    <tr>
        <th>VISA Number</th>
        <th>Country For</th>
        <th>VISA Issued Place</th>
        <th>VISA Issued Date</th>
        <th>VISA Expiry Date</th>
    </tr>
    </thead>
    <tbody id="search-results">
    <tr><td>Passport not selected.</td></tr>
    </tbody>
</table>