<table class="table">
    <thead>
    <tr>
        <th>VISA Number</th>
        <th>Country For</th>
        <th>VISA Issued Place</th>
        <th>VISA Issued Date</th>
        <th>VISA Expiry Date</th>
    </tr>
    </thead>
    <tbody id="search-results">
    <tr>
        <td>
            <a href="#" data-bs-toggle="modal" data-bs-target="#visaModal">12345678</a>
        </td>
        <td>
            Sri Lanka
        </td>
        <td>
            Colombo
        </td>
        <td>
            2021-04-01
        </td>
        <td>
            2026-04-01
        </td>
    </tr>
    <tr>
    <td>
        <a href="#">87654321</a>
    </td>
    <td>
        Finland
    </td>
    <td>
        Helsinki
    </td>
    <td>
        2022-01-01
    </td>
    <td>
        2027-01-01
    </td>
    </tbody>
</table>