@model SkyVault.WebApp.Models.VisaModel

<div class="row my-3">
    <div class="col-md-6">
        <input type="text" class="form-control customtext" placeholder="VISA Number"/>
    </div>
    <div class="col-md-6">
        <select class="form-select customselect" aria-label="Country">
            <option selected>Country Salutation</option>
            <option value="1">Sri Lanka</option>
            <option value="2">Finnish</option>
            <option value="3">Netherlands</option>
        </select>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-6">
        <input type="text" class="form-control customtext" placeholder="VISA Issues Place"/>
    </div>
    <div class="col-md-6">
        <input type="date" class="form-control customdate" value="VISA Issued Date"/>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-6">
        <input type="date" class="form-control customdate" value="VISA Expiry Date"/>
    </div>
</div>