@page
@model SkyVault.WebApp.Pages.ClaimsPageModel
@{
}
<html lang="en">
<title>Claims</title>
<body>
<h1>Claims Verification</h1>
<p>Claims not configured, please contact your administrator for further assistance.</p>
</body>
</html>