@page
@model SkyVault.WebApp.Pages.CreateProfileModel
@{
}
<div class="dashboard-Tzn">
  <div class="auto-group-fr4s-zzi">
    <div class="nav-bar-Xze">
      <div class="frame-14-E8N">
        <img class="f0445977f4bb797ad7bab05d45d167e4a69ea218-360x358-1-wYa" src="./assets/f0445977f4bb797ad7bab05d45d167e4a69ea218-360x358-1.png"/>
        <div class="group-12-24E">
          <p class="traveller-manager-Z4A">Traveller Manager</p>
          <p class="v100-xkW">v1.0.0</p>
        </div>
      </div>
      <div class="line-3-edL">
      </div>
      <div class="frame-11-nzS">
        <div class="group-9-ga2">
          <div class="edit-1-e14">
          </div>
          <p class="profiles-management-Mw4">Profiles management</p>
        </div>
      </div>
      <div class="frame-13-dta">
        <div class="group-11-xfx">
          <div class="frame-8-uLJ">
            <img class="notification-1-S5L" src="./assets/notification-1.png"/>
            <p class="notifications-yLA">Notifications</p>
          </div>
          <div class="frame-10-hX4">
            <img class="switch-1-qtA" src="./assets/switch-1-bPk.png"/>
            <p class="transfer-profiles-Nt6">Transfer Profiles</p>
          </div>
        </div>
        <div class="frame-9-7Kt">
          <div class="frame-7-2Sr">
            <img class="confetti-1-js4" src="./assets/confetti-1.png"/>
            <p class="birthday-greetings-gXQ">Birthday Greetings</p>
          </div>
          <div class="frame-6-orv">
            <img class="passport-1-MtS" src="./assets/passport-1-UCE.png"/>
            <p class="passport-expiration-76v">Passport Expiration </p>
          </div>
          <div class="auto-group-w89c-R7c">
            <div class="frame-5-93c">
              <img class="visa-1-gZL" src="./assets/visa-1-uHx.png"/>
              <p class="visa-expiration-cxn">VISA Expiration</p>
            </div>
            <div class="frame-4-9hp">
              <img class="paper-plane-1-6sx" src="./assets/paper-plane-1-Q78.png"/>
              <div class="send-notifications-ePg">Send Notifications</div>
            </div>
            <div class="frame-3-BPc">
              <img class="file-1-jAE" src="./assets/file-1-siv.png"/>
              <p class="history-eY6">History</p>
            </div>
          </div>
        </div>
      </div>
      <div class="line-2-m6v">
      </div>
      <div class="frame-12-Jce">
        <img class="portrait-successful-man-having-stubble-posing-with-broad-smile-keeping-arms-folded-1-qca" src="./assets/portrait-successful-man-having-stubble-posing-with-broad-smile-keeping-arms-folded-1-vE2.png"/>
        <div class="group-10-jT4">
          <p class="traveller-manager-sZG">Traveller Manager</p>
          <p class="jonny-viper-yMQ">Jonny Viper</p>
        </div>
      </div>
    </div>
    <div class="group-124-dB4">
      <img class="chevron-right-undefined-glyph-undefined-7rv" src="./assets/chevron-right-undefined-glyph-undefined-DNe.png"/>
    </div>
  </div>
  <div class="auto-group-nmbu-Brn">
    <div class="auto-group-mvga-v3g">
      <p class="dashboard-Fbk">Dashboard</p>
      <div class="primary-button-nbg">
        <div class="group-13-tuc">
          <div class="rectangle-9-cKp">
          </div>
          <div class="rectangle-10-8JA">
          </div>
        </div>
        <p class="create-profile-f3C">Create Profile</p>
      </div>
    </div>
    <div class="frame-17-ZPU">
      <p class="search-GYn">Search</p>
      <input type="text" id="txtsearch" name="txtsearch"/>
      <img class="search-zDt" src="./assets/search.png"/>
    </div>
    <img class="traveling-rafiki-7JW" src="./assets/traveling-rafiki.png"/>
  </div>
</div>