@page
@model SkyVault.WebApp.Pages.LoginModel
@{
    Layout = "/Pages/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login - SkyVault(24.04)/DEV";
}
<div class="container">
    <div class="logocontainer">
        <img src="~/img/logo.png" width="400px"/>
    </div>
    <div class="loginbackground">
        <img src="~/img/login_background.png" width="400px"/>
    </div>
    <div class="logindescriptionarea">
        <p>
            Access your account securely with ease using your Microsoft 365 credentials. Simply enter your username and password associated with your Microsoft 365 account to gain instant access to our platform's features and services.
        </p>
    </div>
    @* <div class="loginbutton">
        <div class="o365logocontainer"></div>
        <div class="linecontainer"></div>
        <p class="loginbtntext">Login with Microsoft 365</p>
    </div> *@
    <form method="post">
        <button type="submit" class="btn loginbtn">
            <img class="o365logo" src="~/img/o365logo.jpg"/>
            <div class="linecontainer"></div>
            Login with Office 365
        </button>
    </form>
</div>