# MySQL Configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# ASP.NET Core Configuration
ASPNETCORE_ENVIRONMENT=
ASPNETCORE_CERT_PASSWORD=

# Azure AD Configuration
AZUREAD__INSTANCE=
AZUREAD__TENANTID=
AZUREAD__CLIENTID=
AZUREAD__AUDIENCE=

# CORS Configuration
CORS_ALLOWED_ORIGINS=

# Logging Configuration
LOGGING__FILEPATH=

# Authorization
AUTHORIZATION__APIKEY=

# Azure Application Insights (Optional)
AZUREAPPINSIGHT__INSTRUMENTKEY=

# Azure Function Base URL (Optional)
AZURE_FUNCTION_BASE_URL=
